In [8]:
import pandas as pd
import numpy as np
import datetime

In [10]:
pd.date_range(datetime.datetime.now(),periods=22,freq='D')

DatetimeIndex(['2022-04-27 17:09:06.411574', '2022-04-28 17:09:06.411574',
               '2022-04-29 17:09:06.411574', '2022-04-30 17:09:06.411574',
               '2022-05-01 17:09:06.411574', '2022-05-02 17:09:06.411574',
               '2022-05-03 17:09:06.411574', '2022-05-04 17:09:06.411574',
               '2022-05-05 17:09:06.411574', '2022-05-06 17:09:06.411574',
               '2022-05-07 17:09:06.411574', '2022-05-08 17:09:06.411574',
               '2022-05-09 17:09:06.411574', '2022-05-10 17:09:06.411574',
               '2022-05-11 17:09:06.411574', '2022-05-12 17:09:06.411574',
               '2022-05-13 17:09:06.411574', '2022-05-14 17:09:06.411574',
               '2022-05-15 17:09:06.411574', '2022-05-16 17:09:06.411574',
               '2022-05-17 17:09:06.411574', '2022-05-18 17:09:06.411574'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range(datetime.datetime.now(),periods=63,freq='D')

DatetimeIndex(['2022-04-27 17:09:23.167616', '2022-04-28 17:09:23.167616',
               '2022-04-29 17:09:23.167616', '2022-04-30 17:09:23.167616',
               '2022-05-01 17:09:23.167616', '2022-05-02 17:09:23.167616',
               '2022-05-03 17:09:23.167616', '2022-05-04 17:09:23.167616',
               '2022-05-05 17:09:23.167616', '2022-05-06 17:09:23.167616',
               '2022-05-07 17:09:23.167616', '2022-05-08 17:09:23.167616',
               '2022-05-09 17:09:23.167616', '2022-05-10 17:09:23.167616',
               '2022-05-11 17:09:23.167616', '2022-05-12 17:09:23.167616',
               '2022-05-13 17:09:23.167616', '2022-05-14 17:09:23.167616',
               '2022-05-15 17:09:23.167616', '2022-05-16 17:09:23.167616',
               '2022-05-17 17:09:23.167616', '2022-05-18 17:09:23.167616',
               '2022-05-19 17:09:23.167616', '2022-05-20 17:09:23.167616',
               '2022-05-21 17:09:23.167616', '2022-05-22 17:09:23.167616',
               '2022-05-23 17:09:23.167616', '2022-05-24 17:09:23.167616',
               '2022-05-25 17:09:23.167616', '2022-05-26 17:09:23.167616',
               '2022-05-27 17:09:23.167616', '2022-05-28 17:09:23.167616',
               '2022-05-29 17:09:23.167616', '2022-05-30 17:09:23.167616',
               '2022-05-31 17:09:23.167616', '2022-06-01 17:09:23.167616',
               '2022-06-02 17:09:23.167616', '2022-06-03 17:09:23.167616',
               '2022-06-04 17:09:23.167616', '2022-06-05 17:09:23.167616',
               '2022-06-06 17:09:23.167616', '2022-06-07 17:09:23.167616',
               '2022-06-08 17:09:23.167616', '2022-06-09 17:09:23.167616',
               '2022-06-10 17:09:23.167616', '2022-06-11 17:09:23.167616',
               '2022-06-12 17:09:23.167616', '2022-06-13 17:09:23.167616',
               '2022-06-14 17:09:23.167616', '2022-06-15 17:09:23.167616',
               '2022-06-16 17:09:23.167616', '2022-06-17 17:09:23.167616',
               '2022-06-18 17:09:23.167616', '2022-06-19 17:09:23.167616',
               '2022-06-20 17:09:23.167616', '2022-06-21 17:09:23.167616',
               '2022-06-22 17:09:23.167616', '2022-06-23 17:09:23.167616',
               '2022-06-24 17:09:23.167616', '2022-06-25 17:09:23.167616',
               '2022-06-26 17:09:23.167616', '2022-06-27 17:09:23.167616',
               '2022-06-28 17:09:23.167616'],
              dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range('2021',periods=12,freq='M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

In [13]:
pd.date_range('2021',periods=12,freq='MS')

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [16]:
pd.date_range(start='2022-04-27',end='2022-05-05',freq='H')

DatetimeIndex(['2022-04-27 00:00:00', '2022-04-27 01:00:00',
               '2022-04-27 02:00:00', '2022-04-27 03:00:00',
               '2022-04-27 04:00:00', '2022-04-27 05:00:00',
               '2022-04-27 06:00:00', '2022-04-27 07:00:00',
               '2022-04-27 08:00:00', '2022-04-27 09:00:00',
               ...
               '2022-05-04 15:00:00', '2022-05-04 16:00:00',
               '2022-05-04 17:00:00', '2022-05-04 18:00:00',
               '2022-05-04 19:00:00', '2022-05-04 20:00:00',
               '2022-05-04 21:00:00', '2022-05-04 22:00:00',
               '2022-05-04 23:00:00', '2022-05-05 00:00:00'],
              dtype='datetime64[ns]', length=193, freq='H')

In [17]:
pd.date_range(start='2022-04-27',end='2022-05-05 18:00:00',freq='3H')

DatetimeIndex(['2022-04-27 00:00:00', '2022-04-27 03:00:00',
               '2022-04-27 06:00:00', '2022-04-27 09:00:00',
               '2022-04-27 12:00:00', '2022-04-27 15:00:00',
               '2022-04-27 18:00:00', '2022-04-27 21:00:00',
               '2022-04-28 00:00:00', '2022-04-28 03:00:00',
               '2022-04-28 06:00:00', '2022-04-28 09:00:00',
               '2022-04-28 12:00:00', '2022-04-28 15:00:00',
               '2022-04-28 18:00:00', '2022-04-28 21:00:00',
               '2022-04-29 00:00:00', '2022-04-29 03:00:00',
               '2022-04-29 06:00:00', '2022-04-29 09:00:00',
               '2022-04-29 12:00:00', '2022-04-29 15:00:00',
               '2022-04-29 18:00:00', '2022-04-29 21:00:00',
               '2022-04-30 00:00:00', '2022-04-30 03:00:00',
               '2022-04-30 06:00:00', '2022-04-30 09:00:00',
               '2022-04-30 12:00:00', '2022-04-30 15:00:00',
               '2022-04-30 18:00:00', '2022-04-30 21:00:00',
               '2022-05-01 00:00:00', '2022-05-01 03:00:00',
               '2022-05-01 06:00:00', '2022-05-01 09:00:00',
               '2022-05-01 12:00:00', '2022-05-01 15:00:00',
               '2022-05-01 18:00:00', '2022-05-01 21:00:00',
               '2022-05-02 00:00:00', '2022-05-02 03:00:00',
               '2022-05-02 06:00:00', '2022-05-02 09:00:00',
               '2022-05-02 12:00:00', '2022-05-02 15:00:00',
               '2022-05-02 18:00:00', '2022-05-02 21:00:00',
               '2022-05-03 00:00:00', '2022-05-03 03:00:00',
               '2022-05-03 06:00:00', '2022-05-03 09:00:00',
               '2022-05-03 12:00:00', '2022-05-03 15:00:00',
               '2022-05-03 18:00:00', '2022-05-03 21:00:00',
               '2022-05-04 00:00:00', '2022-05-04 03:00:00',
               '2022-05-04 06:00:00', '2022-05-04 09:00:00',
               '2022-05-04 12:00:00', '2022-05-04 15:00:00',
               '2022-05-04 18:00:00', '2022-05-04 21:00:00',
               '2022-05-05 00:00:00', '2022-05-05 03:00:00',
               '2022-05-05 06:00:00', '2022-05-05 09:00:00',
               '2022-05-05 12:00:00', '2022-05-05 15:00:00',
               '2022-05-05 18:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [18]:
pd.date_range(start='2022-01-01',periods=8,freq='2M')

DatetimeIndex(['2022-01-31', '2022-03-31', '2022-05-31', '2022-07-31',
               '2022-09-30', '2022-11-30', '2023-01-31', '2023-03-31'],
              dtype='datetime64[ns]', freq='2M')

In [62]:
data=pd.read_csv('data/product_click.log',header=None,sep=" ",dtype='object')

data.columns=['oldclicktime','clickpid']

data['newclicktime']=pd.to_datetime(data['oldclicktime'])
print(data.info())
display(data.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   oldclicktime  746 non-null    object
 1   clickpid      746 non-null    object
 2   newclicktime  746 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 17.6+ KB
None

   oldclicktime clickpid        newclicktime
0  201612120944     p001 2016-12-12 09:44:00
1  201612120944     p003 2016-12-12 09:44:00
2  201612120944     p003 2016-12-12 09:44:00
3  201612120945     p008 2016-12-12 09:45:00
4  201612121052     p008 2016-12-12 10:52:00

In [67]:
newdata=data['newclicktime'].astype('str')

date1=newdata.str.split(' ')
dates=date1.str.get(0).str.split('-')
date2=date1.str.get(1).str.split(':')
data['year']=dates.str.get(0).astype('int64')
data['month']=dates.str.get(1).astype('int64')
data['day']=dates.str.get(2).astype('int64')
data['hour']=date2.str.get(0).astype('int64')
data['minute']=date2.str.get(1).astype('int64')
print(data.info())

display(data.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   oldclicktime  746 non-null    object
 1   clickpid      746 non-null    object
 2   newclicktime  746 non-null    datetime64[ns]
 3   year          746 non-null    int64
 4   month         746 non-null    int64
 5   day           746 non-null    int64
 6   hour          746 non-null    int64
 7   minute        746 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 46.8+ KB
None

   oldclicktime clickpid        newclicktime  year  month  day  hour  minute
0  201612120944     p001 2016-12-12 09:44:00  2016     12   12     9      44
1  201612120944     p003 2016-12-12 09:44:00  2016     12   12     9      44
2  201612120944     p003 2016-12-12 09:44:00  2016     12   12     9      44
3  201612120945     p008 2016-12-12 09:45:00  2016     12   12     9      45
4  201612121052     p008 2016-12-12 10:52:00  2016     12   12    10      52

In [81]:
d1=pd.read_csv('data/cctv_seoul.csv',encoding='utf-8')

def pct(a,b):
    return a/b*100

d1['CCTV비율']=d1.apply(lambda x: pct(x['CCTV수'],x['인구수']),axis=1)
d1['노인비율']=d1.apply(lambda x: pct(x['고령자'],x['인구수']),axis=1)

display(d1.head(5))

    구별  CCTV수       인구수       한국인      외국인      고령자    CCTV비율       노인비율
0  강남구   2780  570500.0  565550.0   4950.0  63167.0  0.487292  11.072217
1  강동구    773  453233.0  449019.0   4214.0  54622.0  0.170552  12.051638
2  강북구    748  330192.0  326686.0   3506.0  54813.0  0.226535  16.600342
3  강서구    884  603772.0  597248.0   6524.0  72548.0  0.146413  12.015794
4  관악구   1496  525515.0  507203.0  18312.0  68082.0  0.284673  12.955291