In [25]:
import pandas as pd
data=pd.read_csv('./data/score.csv')
total=data['eng']+data['kor']+data['mat']
data['total']=total
data['avg']=total/3
pd.options.display.float_format = '{:.2f}'.format
print(data.columns)
print(data.index)
print(data)

Index(['name', 'kor', 'eng', 'mat', 'total', 'avg'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
  name  kor  eng  mat  total   avg
0   둘리   90   90   90    270 90.00
1   또치   80   80   80    240 80.00
2  도우너   70   70   70    210 70.00
3  희동이   90   80   70    240 80.00
4  마이콜   60   50   50    160 53.33

In [19]:
data2=pd.read_csv('./data/score_noheader.csv',header=None)
print(data2.columns)
print(data2.index)
print("칼럼명 추가 ---------")
data2.columns=['name','kor','eng','mat']
print(data2.columns)
print(data2)

Int64Index([0, 1, 2, 3], dtype='int64')
RangeIndex(start=0, stop=5, step=1)
칼럼명 추가 ---------
Index(['name', 'kor', 'eng', 'mat'], dtype='object')
  name  kor  eng  mat
0   둘리   90   90   90
1   또치   80   80   80
2  도우너   70   70   70
3  희동이   90   80   70
4  마이콜   60   50   50

In [32]:
data3=pd.read_csv('./data/score_header.csv',header=3)
print(data3)
print(data3.columns)
print(data3.index)
total=data3['eng']+data3['kor']+data3['mat']
data3['total']=total
data3['avg']=total/3
pd.options.display.float_format = '{:.2f}'.format
print(data3)
data4=pd.concat([data3,data3,data3],axis=0)
data4['avg']=round(data4['avg'],2)
# print(data4)
data4.to_csv("output/score_result.csv",index=False,header=False)

  name  kor  eng  mat
0   둘리   90   90   90
1   또치   80   80   80
2  도우너   70   70   70
3  희동이   90   80   70
4  마이콜   60   50   50
Index(['name', 'kor', 'eng', 'mat'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
  name  kor  eng  mat  total   avg
0   둘리   90   90   90    270 90.00
1   또치   80   80   80    240 80.00
2  도우너   70   70   70    210 70.00
3  희동이   90   80   70    240 80.00
4  마이콜   60   50   50    160 53.33

In [38]:
data5=pd.read_excel('./data/score.xlsx')
print(data5)
total=data5['eng']+data5['kor']+data5['mat']
data5['total']=total
data5['avg']=round(total/3,2)
print(data5)
data5.to_excel("output/score_result1.xlsx",index=True)
data5.to_excel("output/score_result2.xlsx",index=False)

  name  kor  eng  mat
0   둘리   90   90   90
1   또치   80   80   80
2  도우너   70   70   70
3  희동이   90   80   70
4  마이콜   60   50   50
5  고길동   90   90    0
  name  kor  eng  mat  total   avg
0   둘리   90   90   90    270 90.00
1   또치   80   80   80    240 80.00
2  도우너   70   70   70    210 70.00
3  희동이   90   80   70    240 80.00
4  마이콜   60   50   50    160 53.33
5  고길동   90   90    0    180 60.00

In [54]:
data6=pd.read_json('./data/mydata.json')
print(data6.info())
print("앞에서 부터 5개만 미리 보기")
print(data6.head())
print("뒤에서 부터 5개만 미리 보기")
print(data6.tail())
print("앞에서 부터 10개만 미리 보기")
print(data6.head(19))
print(data6.shape)
print(f'행의 개수 : {data6.shape[0]}, 열의 개수 : {data6.shape[1]}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    24 non-null     int64
 1   item1   24 non-null     int64
 2   item2   24 non-null     int64
 3   item3   24 non-null     int64
dtypes: int64(4)
memory usage: 896.0 bytes
None
앞에서 부터 5개만 미리 보기
   year  item1  item2  item3
0  1990     95     20     15
1  1991     65     10     35
2  1992     45     30     90
3  1993     10     40     70
4  1994     22     50     50
뒤에서 부터 5개만 미리 보기
    year  item1  item2  item3
19  2009     99     90     70
20  2010     75     85     45
21  2011     22     42     22
22  2012     63     13     30
23  2013     80     40     90
앞에서 부터 10개만 미리 보기
    year  item1  item2  item3
0   1990     95     20     15
1   1991     65     10     35
2   1992     45     30     90
3   1993     10     40     70
4   1994     22     50     50
5   1995     35     70     30
6   1996     40     80     25
7   1997     25     90     75
8   1998     15     57     95
9   1999     45     79     33
10  2000     75     20     55
11  2001     55     40     15
12  2002     30     50     20
13  2003     20     10     80
14  2004     10     90     50
15  2005     47     77     27
16  2006     65     55     45
17  2007      8     48     58
18  2008     64     64     84
(24, 4)
행의 개수 : 24, 열의 개수 : 4

In [58]:
data7=pd.read_csv('./data/mpgdata.csv')
print("앞에서 부터 3개만 미리 보기")
print(data7.head(3))
print(data7.shape)
print(f'행의 개수  {data7.shape[0]}\n열의 개수  {data7.shape[1]}')
print("기술통계 정보 요약")
print(data7.describe())

앞에서 부터 3개만 미리 보기
    mpg  cylinders  displacement  horsepower  weight  acceleration  model-year
0 18.00          8        307.00      130.00    3504         12.00          70
1 15.00          8        350.00      165.00    3693         11.50          70
2 18.00          8        318.00      150.00    3436         11.00          70
(398, 7)
행의 개수  398
열의 개수  7
기술통계 정보 요약
         mpg  cylinders  displacement  horsepower  weight  acceleration  \
count 398.00     398.00        398.00      396.00  398.00        398.00
mean   23.51       5.45        193.43      104.19 2970.42         15.57
std     7.82       1.70        104.27       38.40  846.84          2.76
min     9.00       3.00         68.00       46.00 1613.00          8.00
25%    17.50       4.00        104.25       75.00 2223.75         13.83
50%    23.00       4.00        148.50       92.00 2803.50         15.50
75%    29.00       8.00        262.00      125.00 3608.00         17.17
max    46.60       8.00        455.00      230.00 5140.00         24.80

       model-year
count      398.00
mean        76.01
std          3.70
min         70.00
25%         73.00
50%         76.00
75%         79.00
max         82.00